/*
  Burada extra bir css dosyasının bulunmasının sebebi
  aşağıdaki styled-component's dökümantasyonunda da belirtildiği gibi @import'lar
  ile ilgili problem olduğundan dolayı.

  https://styled-components.com/docs/faqs#note-regarding-css-import-and-createglobalstyle
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import url('sanitize.css');
@import url('sanitize.css/forms.css');
@import url('sanitize.css/reduce-motion.css');

/*
  Yukarıda belirtilen durumdan dolayı createGlobalStyles kullanmak yerine,
  variable'lar burada tutuluyor.
*/

:root {
  --color-bg: hsl(0 0% 98%);
  --color-white: hsl(0 0% 100%);
  --color-primary: hsl(194 75% 46%);
  --color-secondary: hsl(194 76% 33%);

  --color-btn-bg: hsl(249 76% 97%);
  --color-gray-700: hsl(0 0% 10%);
  --color-black-100: hsl(0 0% 88%);
  --color-black-300: hsl(0 0% 66%);
  --color-black-500: hsl(0 0% 44%);
  --color-black-600: hsl(0 0% 32%);
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: var(--color-white);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-black-100);
}

body,
html {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: var(--color-bg);
  font-size: 14px;
}

button {
  cursor: pointer;
}
